@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.plans-container {
  background-color: #f9f9f9;
  padding: 40px 40px;
}

.plans-container button {
  width: 180px;
  height: 40px;
  background-color: #162d6e;
  color: white;
  border-radius: 10;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.plans-main-content {
  margin: 20px;
}

.select-membership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.select-membership input {
  display: none;
}

.select-membership label {
  display: inline-block;
  width: 170px;
  height: 50px;
  text-align: center;
  border: 1px solid #285583;
  background-color: #ffffff;
  line-height: 50px;
  cursor: pointer;
  font-weight: 600;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

#monthly:checked ~ label[for="monthly"],
#annual:checked ~ label[for="annual"] {
  background-color: whitesmoke;
  border: 2px solid #162d6e;
  color: #162d6e;
  font-weight: 600;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
}

.plans-billing-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 0px 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.plans-billing-outer-container .plans-payment-form {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plans-billing-outer-container .plans-payment-form .payment-on-file-checkbox {
  margin: 4px 0px;
}

.plans-billing-outer-container .plans-payment-form .payment-on-file-checkbox input[type="checkbox"] {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  padding: 10px;
}

.plans-billing-outer-container .plans-payment-form .payment-on-file-checkbox label {
  font-size: 110%;
  display: inline;
}

.plans-billing-outer-container .plans-payment-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 550px;
}

.plans-billing-outer-container .plans-payment-form h5 {
  margin-bottom: 25px;
  margin-left: 12px;
  font-family: "Fira Sans", sans-serif;
}

.plans-billing-outer-container .plans-address-form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.plans-billing-outer-container .plans-address-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 550px;
}

.plans-billing-outer-container .plans-address-form h5 {
  margin-bottom: 18px;
  margin-left: 12px;
  font-family: "Fira Sans", sans-serif;
}

.billing-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#card-on-file {
  margin-left: 18px;
}

.button-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1250px) {
  .plans-billing-outer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  .plans-billing-outer-container .plans-payment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 35px;
  }
  .plans-billing-outer-container .plans-address-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=Plans.css.map */