.checkbox-container {
  display: flex;
  justify-content: center;
  input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 17px;
    visibility: hidden;
  }

  input[type="checkbox"]:after {
    content: " ";
    background-color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding-bottom: 5px;
    width: 29px;
    height: 29px;
    visibility: visible;
    border: 1px solid black;
    padding-left: 3px;
  }

  input[type="checkbox"]:checked:after {
    content: "\2714";
    padding: -5px;
    font-size: 25px;
    color: rgb(81, 205, 192);
    font-weight: bold;
  }
}
