@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "config";

.notifications-container {
  display: flex;
  flex-direction: column;
  padding: 40px 40px;
  height: 100vh;

  button {
    @include submit-button;
    background-color: $dark-blue;
  }
}

.notifications-container .table-container {
  margin-top: 50px;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}
