@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,600;0,700;1,200&display=swap");
@import "config";

.success-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    text-align: center;
  }

  button {
    @include submit-button;
    background-color: rgb(25, 150, 62);
  }
}
.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  i {
    font-size: 150px;
    align-self: center;
    color: rgb(25, 150, 62);
  }
}
.successful {
  text-align: center;
  font-size: 50px;
  font-family: "Fira Sans", sans-serif;
}
