.radio-container {
  display: flex;
  margin-top: 10px;
  margin-left: 14px;
  label {
    img {
      height: 35px;
      margin-left: 8px;
      margin-right: 25px;
    }
  }
}

.card-info-field {
  margin: 10px;

  input {
    border: 1px solid rgb(228, 230, 228);
    height: 43px;
    max-width: 500px;
    border-radius: 5px;
  }

  label {
    width: 100%;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
}
